build
.vscode
.pyc
.ktx
cmake-build-debug
/cmake-build-debug/
/.ccls-cache/
/.dir-locals.el
**/__pycache__/
__pycache__/
.ini
*.convex.*
imgui.ini
.mypy_cache
.DS_Store
/.idea
/log

wandb/

*.coacd.ply
*.egg-info

assets/

outputs/

render/

*.pt
*.pdf
*.zip